<section ng-controller="StudentDetailsController">
<div class="row">
<div class="col-lg-12">
                        <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                           Showing {{student.fname}}'s details
                           <div class="btn-group pull-right">
                            <a href="#"  title="go back" ui-sref="student.list" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>                     
                            </div>
                        </div>
                        <div class="panel-body">

                             <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2" >First Name</th>
                                            <td colspan="3">{{student.fname}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Last Name</th>
                                            <td colspan="3">{{student.lname}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Gender</th>
                                            <td colspan="3">{{student.gender}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Date of Birth</th>
                                            <td colspan="3">{{student.dob}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Email</th>
                                            <td colspan="3">{{student.email}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Mobile Number</th>
                                            <td colspan="3">{{student.mobile}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Admission Date</th>
                                            <td colspan="3">{{student.doj}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Class Room</th>
                                            <td colspan="3">{{student.class_name}}</td>                                        
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Native</th>
                                            <td colspan="3">{{student.native_place}}</td>                                     
                                        </tr>
                                        <tr>
                                            <th class="col-md-2" >Blood Group</th>
                                            <td colspan="3">{{student.blood_group}}</td>                                        
                                        </tr>
                                                                          
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
</div>
                           
</section>